# GenLayer Testnet RPC Configuration
NEXT_PUBLIC_GENLAYER_RPC=https://studio.genlayer.com/api
NEXT_PUBLIC_GENLAYER_CHAIN_ID=61999

# Deployed BugShield Intelligent Contract Address on GenLayer
NEXT_PUBLIC_CONTRACT_ADDRESS=0x44e0Cf896c434B57F1439A1d1699C27A50AD87D0
